./kmom04/express-sql/node_modules
./kmom04/myexpress/node_modules
./kmom05/crud/node_modules
./kmom05/eshop1/node_modules
./kmom06/eshop2/node_modules
./kmom06/login/node_modules
./kmom10/eshop3/node_modules
./kmom10/prep/node_modules
./kmom10/try1/node_modules
