<%- include("./layouts/header", {title: title}); %>

    <h1>Berömda Hundklubben</h1>

    <h2>Välkommen till Berömda Hundklubben sida!</h2>

    <p>God dag!</p>
    <br>
    <p>Vad vill du göra?</p>

    <ul>
        <li><a href="medlem">Visa hela medlemars info</a></li>
        <li><a href="search">Sök i logglistan</a></li>
    </ul>

    <%- include("./layouts/footer"); %>
