<%- include("header", {title: title}); %>

    <p><big>Moving 1.5 peng to Adam</big></p>

    <p><i>Adam says thanks and checks his <a href="balance">balance</a></i></p>

    <%- include("footer"); %>
