<%- include("layouts/header", {title: title}); %>

    <h1>Välkommen till BuckStar online shopping</h1>

    <p>Vad vill du göra?</p>

    <ul>
        <li><a href="/eshop/category">Visa kategorier</a></li>
        <li><a href="/eshop/product">Visa produkter</a></li>
        <li><a href="/eshop/product/create">Skapa ny produkt</a></li>
        <li><a href="/eshop/customer">Visa kunder</a></li>
        <li><a href="/eshop/order">Visa ordrar</a></li>
        <li><a href="/eshop/order/create">Skapa ny order</a></li><br>
    </ul>

    <%- include("layouts/footer"); %>
