<%- include("layouts/header", {title: title}); %>

    <h1>Hello!</h1>

    <h2>This E-shop project is developed by:</h2>

    <h3>Khalid Safi</h3>
    <br><br>

    <%- include("layouts/footer"); %>
