<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link href="/style/style.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
    <script src="https://use.fontawesome.com/0aee473986.js"></script>
</head>
<header>
    <nav class="nav">
        <a href="/exam/index">Index</a> |
        <a href="/exam/spelning">Spelnings info</a> |
        <a href="/exam/search">Sök</a>

    </nav>
</header>

<body>
