<%- include("header", {title: title}); %>

    <h1>Welcome to BuckStar online shopping</h1>

    <p>Enjoy your shopping!</p>

    <ul>
        <li><a href="category">Show categories</a></li>
        <li><a href="products">Show products</a></li>
        <li><a href="create">Create a new product</a></li>
    </ul>

    <%- include("footer"); %>
