<%- include("./layouts/header", {title: title}); %>

    <h1>Rock festival</h1>

    <h2>Välkommen till Rock festival sida!</h2>

    <p>God dag!</p>
    <br>
    <p>Vad vill du göra?</p>

    <ul>
        <li><a href="spelning">Visa hela logg</a></li>
        <li><a href="search">Sök i logglistan</a></li>
    </ul>

    <%- include("./layouts/footer"); %>
